footer 
  .footer 
    .footer__nav-and-search 
      .footer__logo-and-desc 
        img.footer__logo(src="./images/Logo.svg", alt="logo")
        p.footer__desc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      nav.footer__nav 
        ul.footer__nav-list 
          li.footer__nav-link.footer__nav-link_bold Навигация
          li.footer__nav-link: a(href="#") О нас
          li.footer__nav-link: a(href="#") Новости
          li.footer__nav-link: a(href="#") Служба поддержки
          li.footer__nav-link: a(href="#") Услуги
        ul.footer__nav-list 
          li.footer__nav-link.footer__nav-link_bold О нас
          li.footer__nav-link: a(href="#") О сервисе
          li.footer__nav-link: a(href="#") Наша команда
          li.footer__nav-link: a(href="#") Вакансии
          li.footer__nav-link: a(href="#") Инвесторы
        ul.footer__nav-list 
          li.footer__nav-link.footer__nav-link_bold Служба поддержки
          li.footer__nav-link: a(href="#") Соглашения
          li.footer__nav-link: a(href="#") Сообщества
          li.footer__nav-link: a(href="#") Связь с нами

      .footer__subscribe-block 
        h3.footer__subscribe-title ПОДПИСКА
        p.footer__subscribe-desc Получайте специальные предложения и новости сервиса

        form.footer__subscribe-field
          input(placeholder="Email", type="email").footer__subscribe-input
          button.footer__arrow-btn: img(src="./images/arrow_forward.svg", alt="arrow")

  .author-rights
    span.author-rights__text Copyright © 2018 Toxin отель. Все права защищены.
    ul.author-rights__social-media-list 
      li.author-rights__social-media-link: a(href="#"): img(src="./images/tw.svg", alt="twitter")  
      li.author-rights__social-media-link: a(href="#"): img(src="./images/fb.svg", alt="facebook")
      li.author-rights__social-media-link: a(href="#"): img(src="./images/inst.svg", alt="instagram") 

          
