- var isAuth = true

header
  .header
    img(src="./images/Logo.svg", alt="logo").header__logo

    nav
      ul.header__links-list 
        li.header__link.header__link_active: a(href="#") О нас
        li.header__link.header__link_multiple: a(href="#") Услуги
        li.header__link: a(href="#") Вакансии
        li.header__link: a(href="#") Новости
        li.header__link.header__link_multiple: a(href="#") Соглашения
    
    if isAuth
      span.header__username Юлий Цезарь
    else
      ul.header__btns
        li.header__sign-in-btn: a(href="#") ВОЙТИ
        li.header__sign-up-btn: a(href="#") ЗАРЕГИСТРИРОВАТЬСЯ
